{% extends 'tienda/base.html' %}

{% block contenido %}
<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <i class="fa fa-check-circle text-success fa-5x mb-4" aria-hidden="true"></i>
            <h2 class="mb-3">¡Te has desconectado!</h2>
            <p class="lead">Gracias por visitarnos. Esperamos verte pronto de nuevo.</p>
            <a href="{% url 'tienda:home' %}" class="btn btn-primary">Volver a la página principal</a>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}